.color1 {
    background-color: #18534F;
    color: #ffffff;
    text-decoration-color: #ffffff;

}

.color2 {
    background-color: #226D68;
    color: #ffffff;
}

.color3 {
    background-color: #ECF8F6;
}

.color4 {
    background-color: #FEEAA1;
}

.color5 {
    background-color: #D6955B;
}
